.basics {
    width: 600px;
    height: 800px;
    background-size: cover;
}

.carte_holder {
    position: absolute;
    bottom: 0%;
}

.vision_future > span {
    background: white;
}

.bigger_plz1 {
    font-size: 50pt;
}

.bigger_plz2 {
    font-size: 30pt;
}

.bigger_plz3 {
    font-size: 20pt;
}

.vision_futur h1 {
    font-size: 50pt;
}

.cartes h1 {
    font-size: 50pt;
}

.cartes p {
    font-size: 30pt;
}

.carte_holder img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 600px;
}

.hint {
    display: none;
}