.basics {
    width: 1000px;
    height: 1300px;
    background-size: cover;
}

.carte_holder {
    position: absolute;
    bottom: 0%;
}

.vision_future > span {
    background: white;
}

.bigger_plz1 {
    font-size: 80pt;
}

.bigger_plz2 {
    font-size: 50pt;
}

.bigger_plz3 {
    font-size: 40pt;
}

.vision_futur h1 {
    font-size: 50pt;
}

.cartes h1 {
    font-size: 70pt;
}

.cartes p {
    font-size: 50pt;
}

.carte_holder img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 1000px;
}

.hint {
    display: none;
}

.gesture_hint_swipe {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
}